body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #0e0f17;
    color: white;
}

/* -------- NAVBAR -------- */

.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0e0f17;
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: #7d2cff;
    letter-spacing: 1px;
}

.tagline {
    font-size: 14px;
    opacity: 0.8;
    flex: 1;
    margin-left: 20px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 10px 35px 10px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 200px;
    background: #1B1E27;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 16px;
    color: #333;
}

.sign-in-btn {
    padding: 10px 25px;
    background: linear-gradient(90deg, #6a25ff, #c084ff);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}


/* -------- MAIN CONTENT -------- */

.container {
    width: 100%;
    max-width: 650px;
    margin: 80px auto;
    text-align: center;
}

.back-arrow {
    font-size: 35px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    margin-left: 20px;
}

h2 {
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: 600;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}

/* Input Fields */

.input-group {
    width: 100%;
    max-width: 450px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.input-group .icon {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #333;
}

/* Update Button */

.update-btn {
    width: 260px;
    background: white;
    border: none;
    padding: 14px 0;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.update-btn:hover {
    opacity: 0.85;
}

/* Back Home Link */

.back-home {
    margin-top: 10px;
    color: white;
    text-decoration: underline;
    font-size: 15px;
}
