* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0D0F18;
    color: white;
}

.navbar {
    width: 100%;
    background: #000000;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #7F4CFF;
    font-size: 28px;
    font-weight: 700;
    margin-right: 15px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.tagline {
    font-size: 14px;
    opacity: 0.7;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    background: #161823;
    border: none;
    border-radius: 5px;
    padding: 8px 35px 8px 12px;
    width: 220px;
    color: #fff;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 6px;
}

.sign-in-btn {
    padding: 8px 22px;
    background: linear-gradient(90deg, #824CFF, #C177FF);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.card {
    text-align: center;
    width: 420px;
}

h2 {
    margin-top: 10px;
    font-size: 28px;
    margin-bottom: 35px;
}

.input-group {
    background: #FFFFFF;
    color: #333;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    margin-left: 10px;
}

.icon {
    font-size: 18px;
}

.eye {
    position: absolute;
    right: 15px;
    opacity: 0.7;
}



.mobile-link a {
    color: #A370FF;
}

.continue-btn {
    width: 85%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: #FFFFFF;
    color: #333;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.back-home {
    margin-top: 20px;
    display: block;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 14px;
}
