* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0A0D17;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.success-card {
  width: 420px;
  background: #0F111A;
  padding: 35px;
  border-radius: 18px;
  border: 2px solid #A564FF;
  text-align: center;
  box-shadow: 0 0 18px rgba(165, 100, 255, 0.25);
}

.success-icon {
  width: 80px;
  margin-bottom: 15px;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 8px;
}

.msg {
  font-size: 14px;
  color: #CFCED6;
  margin-bottom: 18px;
  line-height: 1.5;
}

.divider {
  width: 100%;
  height: 1.2px;
  background: #333;
  margin: 18px 0;
}

.details p {
  font-size: 14px;
  margin: 6px 0;
  color: #D1D0D6;
}

.details span {
  font-weight: 600;
  color: #B6B5C0;
}

.paid {
  color: #2AFF9E;
  font-weight: 700;
}

.back-btn {
  display: inline-block;
  background: #21D488;
  color: black;
  font-weight: 600;
  padding: 12px 26px;
  border-radius: 8px;
  margin-top: 22px;
  text-decoration: none;
  transition: 0.25s;
}

.back-btn:hover {
  background: #1ccf7e;
  transform: translateY(-2px);
}
