body {
    margin: 0;
    background: #0e0f17;
    font-family: "Poppins", sans-serif;
    color: white;
}

/* ------------ NAVBAR ------------ */

.navbar {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
}

.logo {
    color: #7d2cff;
    font-size: 28px;
    font-weight: 700;
}

.tagline {
    flex: 1;
    margin-left: 20px;
    opacity: .8;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 10px 35px 10px 12px;
    border-radius: 6px;
    border: none;
    width: 200px;
    background-color: #1B1E27;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #222;
}

.sign-in-btn {
    background: linear-gradient(90deg, #6a25ff, #c084ff);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
}

/* ------------ SIGNUP BOX ------------ */

.signup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.signup-box {
    width: 500px;
    padding: 40px;
    border: 2px solid #6a25ff;
    border-radius: 26px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-arrow {
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.header h2 {
    font-size: 32px;
    font-weight: 600;
}

/* ------------ TOGGLE ------------ */

.toggle {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    background: #1a1b27;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.toggle button {
    flex: 1;
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.toggle .active {
    background: #b067ff;
    color: white;
}

/* ------------ INPUT FIELDS ------------ */

.input-group {
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 18px;
}

.icon {
    color: black;
    font-size: 17px;
    margin-right: 10px;
}

.eye {
    color: black;
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
}

/* ------------ NOTES ------------ */

.note {
    font-size: 12px;
    opacity: 0.8;
    margin-top: -8px;
    margin-bottom: 20px;
}

.already {
    font-size: 14px;
    margin-bottom: 30px;
}

.signin-link {
    color: #b067ff;
}

/* ------------ BUTTONS ------------ */

.continue-btn {
    width: 260px;
    margin: 0 auto;
    display: block;
    padding: 14px 0;
    background: white;
    border: none;
    color: #444;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-home {
    text-align: center;
    display: block;
    color: white;
    text-decoration: underline;
}
