body {
    margin: 0;
    padding: 0;
    background-color: #0c0e17;
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: #07090f;
    display: flex;
    align-items: center;
    padding: 0 55px;
    box-sizing: border-box;
    border-bottom: 1px solid #10121d;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: #7c44ff;
    margin-right: 18px;
    letter-spacing: 1.5px;
}

.tagline {
    font-size: 14px;
    color: #b5b5b5;
    margin-right: auto;
    margin-top: 3px;
}

.search {
    height: 38px;
    width: 260px;
    background-color: #0f1120;
    border: 1px solid #202337;
    border-radius: 6px;
    padding: 0 12px;
    color: white;
    margin-right: 18px;
}

.signin-btn {
    height: 38px;
    width: 95px;
    background: linear-gradient(90deg, #7f4aff, #a480ff);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.signin-box {
    width: 500px;
    height: auto;
    padding: 40px 50px;
    background-color: #0d0f1a;
    border: 1px solid #5d37ff;
    border-radius: 16px;
    margin: 90px auto;
    text-align: center;
    box-shadow: 0 0 25px rgba(50, 0, 255, 0.15);
}

.signin-box h2 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    margin-bottom: 18px;
    transition: 0.15s;
}

.btn i {
    font-size: 20px;
}

.google-btn {
    background-color: #ffffff;
    color: #000000;
}

.facebook-btn {
    background-color: #ffffff;
    color: #000000;
}


.email-btn {
    background-color: #ffffff;
    color: #000000;
}

.phone-btn {
    background-color: #ffffff;
    color: #000000;
}

.btn:hover {
    transform: translateY(-2px);
}

hr {
    border: none;
    border-bottom: 1px solid #26283a;
    width: 100%;
    margin: 28px 0;
}

.account-text {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #c9c9c9;
}

.account-text a {
    color: #8f6aff;
    text-decoration: none;
}

.account-text a:hover {
    text-decoration: underline;
}

.back-home {
    color: #cfc6ff;
    font-size: 14px;
    text-decoration: none;
}

.back-home:hover {
    text-decoration: underline;
}
